body {
	background-color: #222;
	padding: 10px;
	margin-top: 2.5vh;
	border-radius: 5px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.white-hand{
	background-color: #eee;
	margin: 10px;
	padding: 5px;
	padding-top: 15px;
	display: block;
	float: left;
	border-radius: 5px;
	min-height: 85%;
}

.black-hand{
	background-color: #555;
	margin: 10px;
	padding: 5px;
	padding-top: 15px;
	display: block;
	float: right;
	border-radius: 5px;
	min-height: 85%;
}

.healthbar{
	margin-bottom: 25px;
}

.white-play{
	background-color: #eee;
	border-radius: 5px;
	margin: 10px;
	padding: 5px;
	padding-top: 15px;
	position: relative;
	display: block;
	float: left;
}

.black-play{
	background-color: #555;
	border-radius: 5px;
	margin: 10px;
	padding: 5px;
	padding-top: 15px;
	position: relative;
	display: block;
	float: right;
}

.logo{
	width: 50px;
	position: relative;
	animation: logo-spin infinite 10s linear;
	padding: 5px 50px;
	padding-bottom: 15px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}