.container {
  background-color: #CCC;
  width: 95vw;
  height: 92vh;
  padding: 10px;
  margin-top: 2.5vh;
}

.white-container{
	background-color: #eee;
	margin: 10px;
	padding: 5px;
	padding-top: 10px;
	display: block;
	float: left;
	border-radius: 5px;
}

.black-container{
	background-color: #555;
	margin: 10px;
	padding: 5px;
	padding-top: 10px;
	display: block;
	float: right;
	border-radius: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}