.black-card {
  background-color: #222;
  color: #FFF;
  margin: 15px;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  padding-bottom: 30px;
  cursor: pointer;
}

.white-card {
  background-color: #FFF;
  color: #222;
  margin: 15px;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  padding-bottom: 30px;
  cursor: pointer;
}

.unique {
  font-size: 10px;
  font-weight: 'bold';
  color: '#222';
  justify-content: 'space-around';
  top: 5;
  margin-top: 5px;
  margin-bottom: 50px;
}

.attack {
  font-size: 15px;
  font-weight: 'bold';
  color: '#222';
  justify-content: 'space-around';
  margin: 5px;
  background-color: #E27171;
  padding: 10px;
  border-radius: 50%;
  text-align: left;
  display: inline;
}

.health {
  font-size: 15px;
  font-weight: 'bold';
  color: '#222';
  justify-content: 'space-around';
  margin: 5px;
  background-color: #64d69f;
  padding: 10px;
  border-radius: 50%;
  text-align: right;
  display: inline;
}