.card{
  color: #FFF;
  margin: 15px;
  margin-top: 5px;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  padding-bottom: 30px;
  cursor: pointer;
  transition: .3s;
}

.card:hover{
  border: 5px solid #fc4e59;
}

.black-card {
  background-color: #222;
  border: 5px solid #151515;
}

.white-card {
  background-color: #FFF;
  color: #222;
  border: 5px solid #DEDEDE;
}

.red-card {
  background-color: #ad4040;
  border: 5px solid #8c2c2e;
}

.blue-card {
  background-color: #2a5f93;
  border: 5px solid #1b3f66;
}

.unique {
  font-size: 15px;
  font-weight: 'bold';
  color: '#222';
  justify-content: 'space-around';
  top: 5;
  margin-top: 10px;
  margin-bottom: 40px;
}

.attack{
  background-color: #E27171;
}

.health {
  background-color: #64d69f;
}

.stamina{
  background-color: #ddb2f7;
}

.agility{
  background-color: #6d95f7;
}