.dialog{
  color: #FFF;
  background-color: #262626;
  line-height: 25px;
  border-radius: 5px;
  font-size: 15px;
  height: 170px;
  cursor: pointer;
  padding: 25px;
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: left;
  font-family: 'Inter UI', sans-serif;
  transition: .3s;
}

.descriptor{
  margin-bottom: 20px;
  font-style: italic;
  color: #ccc;
}

.black-dialog {
  background-color: #222;
  border: 5px solid #151515;
}

.white-dialog {
  background-color: #FFF;
  color: #222;
  border: 5px solid #DEDEDE;
}

.red-dialog {
  background-color: #ad4040;
  border: 5px solid #8c2c2e;
}

.blue-dialog {
  background-color: #2a5f93;
  border: 5px solid #1b3f66;
}

.text-attack {
  color: #E27171;
}

.text-health {
  color: #64d69f;
}

.text-stamina{
  color: #ddb2f7;
}

.text-agility{
  color: #6d95f7;
}