.dialog{
  color: #FFF;
  background-color: #262626;
  line-height: 25px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  padding: 25px;
  padding-top: 40px;
  padding-left: 60px;
  padding-bottom: 50px;
  padding-right: 60px;
  text-align: left;
  font-family: 'Inter UI', sans-serif;
  transition: .3s;
}

.descriptor{
  margin-bottom: 20px;
  font-style: italic;
  color: #ccc;
}

.text-mana {
  color: #E27171;
}

.text-health {
  color: #64d69f;
}

.text-stamina{
  color: #ddb2f7;
}

.text-agility{
  color: #6d95f7;
}