.dialog{
  color: #333;
  margin: 10px;
  line-height: 25px;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  background-color: #fff;
  padding: 25px;
  text-align: left;
  font-family: 'Inter UI', sans-serif;
  font-weight: bolder;
  transition: .3s;
}

.dialog-stat{
  font-size: 12px;
  padding-top: 5px;
  margin: 5px;
  padding-bottom: 5px;
}

.descriptor{
  margin-bottom: 10px;
  font-style: italic;
}

.black-dialog {
  background-color: #222;
  border: 5px solid #151515;
}

.white-dialog {
  background-color: #FFF;
  color: #222;
  border: 5px solid #DEDEDE;
}

.red-dialog {
  background-color: #ad4040;
  border: 5px solid #8c2c2e;
}

.blue-dialog {
  background-color: #2a5f93;
  border: 5px solid #1b3f66;
}

.unique {
  font-size: 15px;
  font-weight: 'bold';
  color: '#222';
  justify-content: 'space-around';
  top: 5;
  margin-top: 10px;
  margin-bottom: 40px;
}

.attack{
  background-color: #E27171;
}

.health {
  background-color: #64d69f;
}

.stamina{
  background-color: #ddb2f7;
}

.agility{
  background-color: #6d95f7;
}