body {
	background-color: #222;
	padding: 10px;
	margin-top: 2.5vh;
	border-radius: 5px;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.time{
	font-size: 15px;
	color: #fff;
	font-weight: bolder;
}

.score {
	font-size: 16px;
	font-weight: 'bold';
	font-family: 'Inter UI', sans-serif;
	color: #222;
	background-color: #fff;
	margin: 5px;
	margin-top: 25px;
	padding: 10px;
	text-align: center;
	position: relative;
	display: block;
	width: 250px;
	margin-bottom: 25px;
	padding: 20px;
	width: 125px;
	border-radius: 5px;
}

.ingredient-text{
	color: #FFF;
	font-size: 16px;
	margin: 15px;
	font-family: 'Inter UI', sans-serif;
	text-align: left;
}

.stat {
	font-size: 16px;
	font-weight: 'bold';
	font-family: 'Inter UI', sans-serif;
	color: #FFF;
	background-color: #DDD;
	justify-content: 'space-around';
	margin: 5px;
	padding: 10px;
	text-align: left;
	display: inline;
	border-radius: 3px;
	height: 25px;
	max-width: 25px;
}

.bg-black{
	background-color: #222;
	color: #fff;
}

.subtitle{
	color: #FFF;
	font-family: 'Inter UI', sans-serif;
	margin-bottom: 35px;
}

.bar-black{
	margin-bottom: 25px;
	background-color: #333;
	padding: 20px;
	width: 30%;
	border-radius: 5px;
}

.play-container{
	background-color: #333;
	padding: 20px;
	width: 70%;
	display: inline-block;
	position: relative;
	margin-bottom: 15px;
	border-radius: 5px;
}

.hand-container{
	background-color: #333;
	padding: 20px;
	width: 70%;
	display: inline-block;
	position: relative;
	margin-bottom: 25px;
	border-radius: 5px;
}

.white-hand{
	background-color: #EEE;
	margin: 10px;
	padding: 5px;
	padding-top: 15px;
	width: 160px;
	display: inline-block;
	position: relative;
	border-radius: 5px;
	min-height: 85%;
}

.blue-hand{
	background-color: #2a5f93;
	margin: 10px;
	padding: 5px;
	padding-top: 15px;
	width: 160px;
	display: inline-block;
	position: relative;
	border-radius: 5px;
	min-height: 85%;
}

.red-hand{
	background-color: #ad4040;
	margin: 10px;
	padding: 5px;
	padding-top: 15px;
	width: 160px;
	display: inline-block;
	position: relative;
	border-radius: 5px;
	min-height: 85%;
}

.black-hand{
	background-color: #222;
	margin: 10px;
	padding: 5px;
	padding-top: 15px;
	width: 160px;
	display: inline-block;
	position: relative;
	border-radius: 5px;
	min-height: 85%;
}

.white-play{
	margin: 10px;
	padding: 5px;
	width: 400px;
	display: inline-block;
	border-radius: 5px;
	min-height: 85%;
	float: left;
}

.black-play{
	background-color: #222;
	margin: 10px;
	padding: 5px;
	padding-top: 15px;
	width: 160px;
	float: right;
	border-radius: 5px;
	min-height: 85%;
}

.logo{
	width: 50px;
	position: relative;
	animation: logo-spin infinite 10s linear;
	padding: 5px 50px;
	padding-bottom: 15px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}